

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
        text-align: center;
    background-image: url(img3.1.png); 
    background-size: cover;
      background-repeat: no-repeat;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #512DA8;
}

.btn-padding {
    padding-left: 8px;
}

.greeting {
    text-align: center;
    margin-top: 1%;
    font-family: monospace;
}

.gallary {
    margin-left: 8%;
    margin-right: 4%;
}

.aboutprof{
    margin-left: 2%;
}

.display {
    font-size: 1.5em;
    letter-spacing: 1.3em;
    color: red;
}

.txt-clr {
    color:black;
}

.req-spacing{
    padding:15px;
}


.signin-bg {
    background-image: url("/assets/images/img3.2.jpg"); 
    background-size: cover;
background-repeat: no-repeat;
position: fixed;
background-attachment: scroll;
background-position: 50% 50%;
top: 0;
right: 0;
bottom: 0;
left: 0;
content: "";
z-index: 0;
}

.p-5{
    color: white;
}

.signup-bg {
    background-image: url("/assets/images/img3.9.jpeg"); 
    background-size: cover;
background-repeat: no-repeat;
position: fixed;
background-attachment: scroll;
background-position: 50% 50%;
top: 0;
right: 0;
bottom: 0;
left: 0;
content: "";
z-index: 0;
}

 .label-clr{
    color: white;
 }

 .profile-spacing {
    margin-bottom: 20px;
 }
 .modal-size {
    width: 80vw;
    max-width: 90vw;
    height: 80vw;
 }

 .cursor-change {
    cursor: pointer;
 }