 .bg {
 	background-image: url("/assets/images/img3.2.jpg"); 
 	background-size: cover;
background-repeat: no-repeat;
position: fixed;
background-attachment: scroll;
background-position: 50% 50%;
top: 0;
right: 0;
bottom: 0;
left: 0;
content: "";
z-index: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


 .landing-links {
 	color:white;
 	font-size: 1.2em;
 	font-weight: bolder;
 }

.landing-clr{
	margin-top: 10%;
	color: white;
}

.landing-clr h5{
	font-size:30px;
	margin-left: 1%;
}
.landing-clr h2 {
	font-size:65px;
}
.landing-clr p {
	font-size:20px;
}
.btns  {
	margin-left: 2%;
}

.btn-spacing{
	margin:2%;
}

.navbar-toggler-icon{
	color: black;
	align-self: right;
}